In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# HOT DECK IMPUTATION  AND   MICE

In [7]:
conda install ecos

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Applications/anaconda3

  added / updated specs:
    - ecos


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    ecos-2.0.7.post1           |   py37hf1fa96c_0          83 KB
    ------------------------------------------------------------
                                           Total:          83 KB

The following NEW packages will be INSTALLED:

  ecos               pkgs/main/osx-64::ecos-2.0.7.post1-py37hf1fa96c_0



Downloading and Extracting Packages
ecos-2.0.7.post1     | 83 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [8]:
conda install CVXcanon

Collecting package metadata (current_repodata.json): done
Solving environment: done

## Package Plan ##

  environment location: /Applications/anaconda3

  added / updated specs:
    - cvxcanon


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    cvxcanon-0.1.1             |   py37h6440ff4_0         166 KB
    ------------------------------------------------------------
                                           Total:         166 KB

The following NEW packages will be INSTALLED:

  cvxcanon           pkgs/main/osx-64::cvxcanon-0.1.1-py37h6440ff4_0



Downloading and Extracting Packages
cvxcanon-0.1.1       | 166 KB    | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

Note: you may need to restart the kernel to use updated packages.

In [9]:
conda install fancyimpute

Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Collecting package metadata (repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.

PackagesNotFoundError: The following packages are not available from current channels:

  - fancyimpute

Current channels:

  - https://repo.anaconda.com/pkgs/main/osx-64
  - https://repo.anaconda.com/pkgs/main/noarch
  - https://repo.anaconda.com/pkgs/r/osx-64
  - https://repo.anaconda.com/pkgs/r/noarch

To search for alternate channels that may provide the conda package you're
looking for, navigate to

    https://anaconda.org

and use the search bar at the top of the page.



Note: you may need to restart the kernel to use updated packages.

In [10]:
pip install fancyimpute

Collecting fancyimpute
  Downloading https://files.pythonhosted.org/packages/3d/7b/bf3e7ee13111f0c01c5918ea41501301f3f0cd7254004ed29467ad76636a/fancyimpute-0.5.5.tar.gz
Collecting knnimpute (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/e8/35/e9ab006430d36aed71f623db8d194a723a14d40b52b3405cdd5b94d9de04/knnimpute-0.1.0.tar.gz
Requirement already satisfied: numpy>=1.10 in /Applications/anaconda3/lib/python3.7/site-packages (from fancyimpute) (1.17.2)
Requirement already satisfied: scipy in /Applications/anaconda3/lib/python3.7/site-packages (from fancyimpute) (1.3.1)
Collecting cvxpy>=1.0.6 (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/d5/a9/a69c9ee5724165c70fccac3995e6bfb839827586cee217dca411e93e0eeb/cvxpy-1.1.3-cp37-cp37m-macosx_10_9_x86_64.whl (818kB)
     |████████████████████████████████| 819kB 116kB/s eta 0:00:01
Requirement already satisfied: scikit-learn>=0.21.2 in /Applications/anaconda3/lib/python3.7/site-packages (from fancyimpute) (0.22.2.post1)
Collecting keras>=2.0.0 (from fancyimpute)
  Downloading https://files.pythonhosted.org/packages/44/e1/dc0757b20b56c980b5553c1b5c4c32d378c7055ab7bfa92006801ad359ab/Keras-2.4.3-py2.py3-none-any.whl
Requirement already satisfied: tensorflow in /Applications/anaconda3/lib/python3.7/site-packages (from fancyimpute) (2.2.0)
Requirement already satisfied: six in /Applications/anaconda3/lib/python3.7/site-packages (from knnimpute->fancyimpute) (1.12.0)
Collecting osqp>=0.4.1 (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/38/b7/1c70a2371de41d0a0d517ec8c060e741c05c30f21a9cc5a8abc239fdd302/osqp-0.6.1-cp37-cp37m-macosx_10_9_x86_64.whl (158kB)
     |████████████████████████████████| 163kB 173kB/s eta 0:00:01
Requirement already satisfied: ecos>=2 in /Applications/anaconda3/lib/python3.7/site-packages (from cvxpy>=1.0.6->fancyimpute) (2.0.7.post1)
Collecting scs>=1.1.3 (from cvxpy>=1.0.6->fancyimpute)
  Downloading https://files.pythonhosted.org/packages/1a/72/33be87cce255d4e9dbbfef547e9fd6ec7ee94d0d0910bb2b13badea3fbbe/scs-2.1.2.tar.gz (3.5MB)
     |████████████████████████████████| 3.6MB 90kB/s eta 0:00:011
Requirement already satisfied: joblib>=0.11 in /Applications/anaconda3/lib/python3.7/site-packages (from scikit-learn>=0.21.2->fancyimpute) (0.13.2)
Requirement already satisfied: h5py in /Applications/anaconda3/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (2.10.0)
Requirement already satisfied: pyyaml in /Applications/anaconda3/lib/python3.7/site-packages (from keras>=2.0.0->fancyimpute) (5.1.2)
Requirement already satisfied: opt-einsum>=2.3.2 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.2.1)
Requirement already satisfied: grpcio>=1.8.6 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.29.0)
Requirement already satisfied: wrapt>=1.11.1 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.11.2)
Requirement already satisfied: tensorboard<2.3.0,>=2.2.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.2.1)
Requirement already satisfied: wheel>=0.26; python_version >= "3" in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.33.6)
Requirement already satisfied: protobuf>=3.8.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (3.12.1)
Requirement already satisfied: google-pasta>=0.1.8 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.2.0)
Requirement already satisfied: keras-preprocessing>=1.1.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.1.2)
Requirement already satisfied: tensorflow-estimator<2.3.0,>=2.2.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (2.2.0)
Requirement already satisfied: absl-py>=0.7.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.9.0)
Requirement already satisfied: termcolor>=1.1.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.1.0)
Requirement already satisfied: astunparse==1.6.3 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (1.6.3)
Requirement already satisfied: gast==0.3.3 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorflow->fancyimpute) (0.3.3)
Requirement already satisfied: future in /Applications/anaconda3/lib/python3.7/site-packages (from osqp>=0.4.1->cvxpy>=1.0.6->fancyimpute) (0.18.2)
Requirement already satisfied: markdown>=2.6.8 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.2.2)
Requirement already satisfied: setuptools>=41.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (41.4.0)
Requirement already satisfied: werkzeug>=0.11.15 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.16.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.4.1)
Requirement already satisfied: requests<3,>=2.21.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2.22.0)
Requirement already satisfied: google-auth<2,>=1.6.3 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.15.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /Applications/anaconda3/lib/python3.7/site-packages (from tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.6.0.post3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /Applications/anaconda3/lib/python3.7/site-packages (from markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.23)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /Applications/anaconda3/lib/python3.7/site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.3.0)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /Applications/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (1.24.2)
Requirement already satisfied: certifi>=2017.4.17 in /Applications/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2019.9.11)
Requirement already satisfied: idna<2.9,>=2.5 in /Applications/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (2.8)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Applications/anaconda3/lib/python3.7/site-packages (from requests<3,>=2.21.0->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.0.4)
Requirement already satisfied: rsa<4.1,>=3.1.4 in /Applications/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (4.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /Applications/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.2.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (4.1.0)
Requirement already satisfied: zipp>=0.5 in /Applications/anaconda3/lib/python3.7/site-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.6.0)
Requirement already satisfied: oauthlib>=3.0.0 in /Applications/anaconda3/lib/python3.7/site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (3.1.0)
Requirement already satisfied: pyasn1>=0.1.3 in /Applications/anaconda3/lib/python3.7/site-packages (from rsa<4.1,>=3.1.4->google-auth<2,>=1.6.3->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (0.4.8)
Requirement already satisfied: more-itertools in /Applications/anaconda3/lib/python3.7/site-packages (from zipp>=0.5->importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard<2.3.0,>=2.2.0->tensorflow->fancyimpute) (7.2.0)

Building wheels for collected packages: fancyimpute, knnimpute, scs
  Building wheel for fancyimpute (setup.py) ... done
  Created wheel for fancyimpute: filename=fancyimpute-0.5.5-cp37-none-any.whl size=26455 sha256=923c22c3894c01ae7a9d4fcf493494ba63b64195f2b10a26672841e241d9a2d1
  Stored in directory: /Users/meghanaanantaneni/Library/Caches/pip/wheels/b2/d2/22/75596186b24b7363894e594f28e98b56fdc56306762bc00fe0
  Building wheel for knnimpute (setup.py) ... done
  Created wheel for knnimpute: filename=knnimpute-0.1.0-cp37-none-any.whl size=11355 sha256=07a7cd4004a7ea7586039ab934c8ec97fa61d63ec05a73c0575329e489c22975
  Stored in directory: /Users/meghanaanantaneni/Library/Caches/pip/wheels/a3/92/31/c3f8864714e9938396c3a68d8c542531f7e2d7862bb750b2e3
  Building wheel for scs (setup.py) ... done
  Created wheel for scs: filename=scs-2.1.2-cp37-cp37m-macosx_10_9_x86_64.whl size=119132 sha256=6aa0c98b85335861f1714ae1dd1aa7f089549978fdedb1b230872e370ad29d83
  Stored in directory: /Users/meghanaanantaneni/Library/Caches/pip/wheels/df/d0/79/37ea880586da03c620ca9ecd5e42adbd86bc6ea84363965c5f
Successfully built fancyimpute knnimpute scs
Installing collected packages: knnimpute, osqp, scs, cvxpy, keras, fancyimpute
Successfully installed cvxpy-1.1.3 fancyimpute-0.5.5 keras-2.4.3 knnimpute-0.1.0 osqp-0.6.1 scs-2.1.2
Note: you may need to restart the kernel to use updated packages.

In [2]:
from fancyimpute import KNN

In [3]:
from fancyimpute import IterativeImputer as MICE

### DATA (BEFORE) - NULL VALUE IMPUTATION

In [88]:
data_before = pd.read_csv('Dataset-Before-Encoded.csv')
data_before.head()

,ID,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,1,5.0,2.0,0.0,0.0,1.0,1.0,5.0,4.0,3.0,...,1.0,2.0,2.0,3.0,4.0,3.0,2.0,1.0,2.0,2.0
1,2,5.0,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,4.0,1.0,1.0,1.0,2.0,0.0,5.0,2.0
2,3,0.0,3.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,...,1.0,2.0,2.0,5.0,4.0,3.0,3.0,0.0,2.0,1.0
3,4,4.0,1.0,3.0,0.0,1.0,1.0,3.0,3.0,4.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,0.0,1.0,1.0
4,5,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,...,2.0,4.0,4.0,3.0,4.0,4.0,4.0,NaN,0.0,1.0

In [89]:
data_copy = data_before.copy()

In [90]:
data_before.drop('ID',axis=1,inplace=True)

In [91]:
data_before.isnull().sum()

Age                             2
Income                         19
Emp_stat_Before                39
Gender                          3
Marital_status                  6
Loc                             7
Notice_things_Before           10
All_angles_Before              10
Sincere_prod_Before            10
Lonely_Before                  10
Worry_health_Before            15
Charity_Before                 10
New_env_Before                 11
Meeting_ppl_Before             12
Hob_interests_Before           10
Surveys_Before                 10
Spent_onli_Before               8
WFH_office_Before              15
Enthu_Before                    7
Smoking_hab_Before              8
Drinking_hab_Before             9
Sleeping_hab_Before            12
Healthy_Lifestyle_Before       14
Medi_pref_Before               34
Pol_interest_Before            11
Internet_interest_Before       11
Economy_Manag_intrst_Before    15
Medicine_intrst_Before         15
Religion_intrst_Before         16
Save_all_money_Before          17
Brand_non-brand_Before         17
Food_pref_Before               29
Mode_of_transport_Before       31
Basic_medications_Before       18
Digital_content_Before         16
Active_Investor_Before         17
Edu_instit_fee_Before          15
Spend_on_gadgets_Before        18
spend_on_Luxury_Before         16
Track_Household_exp_Before     20
Domestic_help_Before            7
Spending_kind_Before           20
dtype: int64

In [92]:
# percentage of null values
(data_before.isnull().sum().sum()/(data_before.shape[0]*data_before.shape[1]))*100

2.5926886180969664

### Hot Deck Imputation - Similarity is measured by considering Nearest Neighbours

In [93]:
# fancy impute is going to remove the column names , so storing the column names first
data_before_cols = data_before.columns
data_before_cols

Index(['Age', 'Income', 'Emp_stat_Before', 'Gender', 'Marital_status', 'Loc',
       'Notice_things_Before', 'All_angles_Before', 'Sincere_prod_Before',
       'Lonely_Before', 'Worry_health_Before', 'Charity_Before',
       'New_env_Before', 'Meeting_ppl_Before', 'Hob_interests_Before',
       'Surveys_Before', 'Spent_onli_Before', 'WFH_office_Before',
       'Enthu_Before', 'Smoking_hab_Before', 'Drinking_hab_Before',
       'Sleeping_hab_Before', 'Healthy_Lifestyle_Before', 'Medi_pref_Before',
       'Pol_interest_Before', 'Internet_interest_Before',
       'Economy_Manag_intrst_Before', 'Medicine_intrst_Before',
       'Religion_intrst_Before', 'Save_all_money_Before',
       'Brand_non-brand_Before', 'Food_pref_Before',
       'Mode_of_transport_Before', 'Basic_medications_Before',
       'Digital_content_Before', 'Active_Investor_Before',
       'Edu_instit_fee_Before', 'Spend_on_gadgets_Before',
       'spend_on_Luxury_Before', 'Track_Household_exp_Before',
       'Domestic_help_Before', 'Spending_kind_Before'],
      dtype='object')

In [94]:
# use 5 nearest rows which have a feature to fill in each row's missing features
data_before = pd.DataFrame(KNN(k=5).fit_transform(data_before))
# this will help us to replace the values

Imputing row 1/551 with 0 missing, elapsed time: 0.130
Imputing row 101/551 with 0 missing, elapsed time: 0.134
Imputing row 201/551 with 36 missing, elapsed time: 0.136
Imputing row 301/551 with 2 missing, elapsed time: 0.140
Imputing row 401/551 with 0 missing, elapsed time: 0.143
Imputing row 501/551 with 0 missing, elapsed time: 0.144

In [95]:
# here we are adding the columns back
data_before.columns = data_before_cols

In [96]:
# check for null values
data_before.isnull().sum()

Age                            0
Income                         0
Emp_stat_Before                0
Gender                         0
Marital_status                 0
Loc                            0
Notice_things_Before           0
All_angles_Before              0
Sincere_prod_Before            0
Lonely_Before                  0
Worry_health_Before            0
Charity_Before                 0
New_env_Before                 0
Meeting_ppl_Before             0
Hob_interests_Before           0
Surveys_Before                 0
Spent_onli_Before              0
WFH_office_Before              0
Enthu_Before                   0
Smoking_hab_Before             0
Drinking_hab_Before            0
Sleeping_hab_Before            0
Healthy_Lifestyle_Before       0
Medi_pref_Before               0
Pol_interest_Before            0
Internet_interest_Before       0
Economy_Manag_intrst_Before    0
Medicine_intrst_Before         0
Religion_intrst_Before         0
Save_all_money_Before          0
Brand_non-brand_Before         0
Food_pref_Before               0
Mode_of_transport_Before       0
Basic_medications_Before       0
Digital_content_Before         0
Active_Investor_Before         0
Edu_instit_fee_Before          0
Spend_on_gadgets_Before        0
spend_on_Luxury_Before         0
Track_Household_exp_Before     0
Domestic_help_Before           0
Spending_kind_Before           0
dtype: int64

In [97]:
data_before.head()

,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,Lonely_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,5.0,2.0,0.0,0.0,1.0,1.0,5.0,4.0,3.0,4.0,...,1.0,2.0,2.0,3.0,4.0,3.0,2.0,1.000000,2.0,2.0
1,5.0,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,4.0,1.0,1.0,1.0,2.0,0.000000,5.0,2.0
2,0.0,3.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,1.0,...,1.0,2.0,2.0,5.0,4.0,3.0,3.0,0.000000,2.0,1.0
3,4.0,1.0,3.0,0.0,1.0,1.0,3.0,3.0,4.0,1.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,0.000000,1.0,1.0
4,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,1.0,...,2.0,4.0,4.0,3.0,4.0,4.0,4.0,1.812052,0.0,1.0

In [98]:
### rounding off values
def roundvals(dataframe):
    for i in dataframe.columns:
        dataframe[i] = dataframe[i].apply(lambda x:round(x))

In [99]:
roundvals(data_before)

In [100]:
data_before.head()

,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,Lonely_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,5,2,0,0,1,1,5,4,3,4,...,1,2,2,3,4,3,2,1,2,2
1,5,5,1,0,1,1,1,1,1,1,...,1,2,4,1,1,1,2,0,5,2
2,0,3,2,0,0,1,1,5,5,1,...,1,2,2,5,4,3,3,0,2,1
3,4,1,3,0,1,1,3,3,4,1,...,2,4,4,3,3,4,4,0,1,1
4,0,0,1,1,0,1,3,4,4,1,...,2,4,4,3,4,4,4,2,0,1

In [101]:
data_before_cols

Index(['Age', 'Income', 'Emp_stat_Before', 'Gender', 'Marital_status', 'Loc',
       'Notice_things_Before', 'All_angles_Before', 'Sincere_prod_Before',
       'Lonely_Before', 'Worry_health_Before', 'Charity_Before',
       'New_env_Before', 'Meeting_ppl_Before', 'Hob_interests_Before',
       'Surveys_Before', 'Spent_onli_Before', 'WFH_office_Before',
       'Enthu_Before', 'Smoking_hab_Before', 'Drinking_hab_Before',
       'Sleeping_hab_Before', 'Healthy_Lifestyle_Before', 'Medi_pref_Before',
       'Pol_interest_Before', 'Internet_interest_Before',
       'Economy_Manag_intrst_Before', 'Medicine_intrst_Before',
       'Religion_intrst_Before', 'Save_all_money_Before',
       'Brand_non-brand_Before', 'Food_pref_Before',
       'Mode_of_transport_Before', 'Basic_medications_Before',
       'Digital_content_Before', 'Active_Investor_Before',
       'Edu_instit_fee_Before', 'Spend_on_gadgets_Before',
       'spend_on_Luxury_Before', 'Track_Household_exp_Before',
       'Domestic_help_Before', 'Spending_kind_Before'],
      dtype='object')

In [102]:
data_copy.drop(data_before_cols,axis=1,inplace=True)

In [103]:
data_before.head()

,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,Lonely_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,5,2,0,0,1,1,5,4,3,4,...,1,2,2,3,4,3,2,1,2,2
1,5,5,1,0,1,1,1,1,1,1,...,1,2,4,1,1,1,2,0,5,2
2,0,3,2,0,0,1,1,5,5,1,...,1,2,2,5,4,3,3,0,2,1
3,4,1,3,0,1,1,3,3,4,1,...,2,4,4,3,3,4,4,0,1,1
4,0,0,1,1,0,1,3,4,4,1,...,2,4,4,3,4,4,4,2,0,1

In [104]:
data_copy.shape,data_before.shape

((551, 1), (551, 42))

In [105]:
data_before_final = pd.concat([data_copy,data_before],axis=1)

In [106]:
data_before_final.head()

,ID,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,1,5,2,0,0,1,1,5,4,3,...,1,2,2,3,4,3,2,1,2,2
1,2,5,5,1,0,1,1,1,1,1,...,1,2,4,1,1,1,2,0,5,2
2,3,0,3,2,0,0,1,1,5,5,...,1,2,2,5,4,3,3,0,2,1
3,4,4,1,3,0,1,1,3,3,4,...,2,4,4,3,3,4,4,0,1,1
4,5,0,0,1,1,0,1,3,4,4,...,2,4,4,3,4,4,4,2,0,1

In [47]:
data_before.isnull().sum()

ID                             0
Age                            0
Income                         0
Emp_stat_Before                0
Gender                         0
Marital_status                 0
Loc                            0
Notice_things_Before           0
All_angles_Before              0
Sincere_prod_Before            0
Lonely_Before                  0
Worry_health_Before            0
Charity_Before                 0
New_env_Before                 0
Meeting_ppl_Before             0
Hob_interests_Before           0
Surveys_Before                 0
Spent_onli_Before              0
WFH_office_Before              0
Enthu_Before                   0
Smoking_hab_Before             0
Drinking_hab_Before            0
Sleeping_hab_Before            0
Healthy_Lifestyle_Before       0
Medi_pref_Before               0
Pol_interest_Before            0
Internet_interest_Before       0
Economy_Manag_intrst_Before    0
Medicine_intrst_Before         0
Religion_intrst_Before         0
Save_all_money_Before          0
Brand_non-brand_Before         0
Food_pref_Before               0
Mode_of_transport_Before       0
Basic_medications_Before       0
Digital_content_Before         0
Active_Investor_Before         0
Edu_instit_fee_Before          0
Spend_on_gadgets_Before        0
spend_on_Luxury_Before         0
Track_Household_exp_Before     0
Domestic_help_Before           0
Spending_kind_Before           0
dtype: int64

In [48]:
data_before_final.to_csv('Dataset-Before-HotDeck.csv')

### Data (Before) - Imputation using MICE

In [49]:
data_before_MICE_imp= pd.read_csv('Dataset-Before-Encoded.csv')
data_before_MICE_imp.head()

,ID,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,1,5.0,2.0,0.0,0.0,1.0,1.0,5.0,4.0,3.0,...,1.0,2.0,2.0,3.0,4.0,3.0,2.0,1.0,2.0,2.0
1,2,5.0,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,4.0,1.0,1.0,1.0,2.0,0.0,5.0,2.0
2,3,0.0,3.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,...,1.0,2.0,2.0,5.0,4.0,3.0,3.0,0.0,2.0,1.0
3,4,4.0,1.0,3.0,0.0,1.0,1.0,3.0,3.0,4.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,0.0,1.0,1.0
4,5,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,...,2.0,4.0,4.0,3.0,4.0,4.0,4.0,NaN,0.0,1.0

In [50]:
data_before_MICE_imp.isnull().sum()

ID                              0
Age                             2
Income                         19
Emp_stat_Before                39
Gender                          3
Marital_status                  6
Loc                             7
Notice_things_Before           10
All_angles_Before              10
Sincere_prod_Before            10
Lonely_Before                  10
Worry_health_Before            15
Charity_Before                 10
New_env_Before                 11
Meeting_ppl_Before             12
Hob_interests_Before           10
Surveys_Before                 10
Spent_onli_Before               8
WFH_office_Before              15
Enthu_Before                    7
Smoking_hab_Before              8
Drinking_hab_Before             9
Sleeping_hab_Before            12
Healthy_Lifestyle_Before       14
Medi_pref_Before               34
Pol_interest_Before            11
Internet_interest_Before       11
Economy_Manag_intrst_Before    15
Medicine_intrst_Before         15
Religion_intrst_Before         16
Save_all_money_Before          17
Brand_non-brand_Before         17
Food_pref_Before               29
Mode_of_transport_Before       31
Basic_medications_Before       18
Digital_content_Before         16
Active_Investor_Before         17
Edu_instit_fee_Before          15
Spend_on_gadgets_Before        18
spend_on_Luxury_Before         16
Track_Household_exp_Before     20
Domestic_help_Before            7
Spending_kind_Before           20
dtype: int64

In [51]:
data_before_MICE_imp.drop('ID',axis=1,inplace=True)

In [52]:
# fancy impute is going to remove the column names , so storing the column names first
data_before_MICE_imp_cols = data_before_MICE_imp.columns
data_before_MICE_imp_cols

Index(['Age', 'Income', 'Emp_stat_Before', 'Gender', 'Marital_status', 'Loc',
       'Notice_things_Before', 'All_angles_Before', 'Sincere_prod_Before',
       'Lonely_Before', 'Worry_health_Before', 'Charity_Before',
       'New_env_Before', 'Meeting_ppl_Before', 'Hob_interests_Before',
       'Surveys_Before', 'Spent_onli_Before', 'WFH_office_Before',
       'Enthu_Before', 'Smoking_hab_Before', 'Drinking_hab_Before',
       'Sleeping_hab_Before', 'Healthy_Lifestyle_Before', 'Medi_pref_Before',
       'Pol_interest_Before', 'Internet_interest_Before',
       'Economy_Manag_intrst_Before', 'Medicine_intrst_Before',
       'Religion_intrst_Before', 'Save_all_money_Before',
       'Brand_non-brand_Before', 'Food_pref_Before',
       'Mode_of_transport_Before', 'Basic_medications_Before',
       'Digital_content_Before', 'Active_Investor_Before',
       'Edu_instit_fee_Before', 'Spend_on_gadgets_Before',
       'spend_on_Luxury_Before', 'Track_Household_exp_Before',
       'Domestic_help_Before', 'Spending_kind_Before'],
      dtype='object')

In [53]:
## use MICE to fill in each row's missing feature
data_before_MICE_imp = pd.DataFrame(MICE(verbose=True).fit_transform(data_before_MICE_imp))

[IterativeImputer] Completing matrix with shape (551, 42)
[IterativeImputer] Change: 6.267406599638058, scaled tolerance: 0.006
[IterativeImputer] Change: 2.0389260137209835, scaled tolerance: 0.006
[IterativeImputer] Change: 0.9840231066470619, scaled tolerance: 0.006
[IterativeImputer] Change: 0.5054545144244917, scaled tolerance: 0.006
[IterativeImputer] Change: 0.2598882011432317, scaled tolerance: 0.006
[IterativeImputer] Change: 0.13319232002791026, scaled tolerance: 0.006
[IterativeImputer] Change: 0.06798897373308183, scaled tolerance: 0.006
[IterativeImputer] Change: 0.034667633036271905, scaled tolerance: 0.006
[IterativeImputer] Change: 0.018095227403087166, scaled tolerance: 0.006
[IterativeImputer] Change: 0.011053343914960434, scaled tolerance: 0.006

/Applications/anaconda3/lib/python3.7/site-packages/sklearn/impute/_iterative.py:638: ConvergenceWarning: [IterativeImputer] Early stopping criterion not reached.
  " reached.", ConvergenceWarning)

In [54]:
data_before_MICE_imp.head()

,0,1,2,3,4,5,6,7,8,9,...,32,33,34,35,36,37,38,39,40,41
0,5.0,2.0,0.0,0.0,1.0,1.0,5.0,4.0,3.0,4.0,...,1.0,2.0,2.0,3.0,4.0,3.0,2.0,1.000000,2.0,2.0
1,5.0,5.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,2.0,4.0,1.0,1.0,1.0,2.0,0.000000,5.0,2.0
2,0.0,3.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,1.0,...,1.0,2.0,2.0,5.0,4.0,3.0,3.0,0.000000,2.0,1.0
3,4.0,1.0,3.0,0.0,1.0,1.0,3.0,3.0,4.0,1.0,...,2.0,4.0,4.0,3.0,3.0,4.0,4.0,0.000000,1.0,1.0
4,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,1.0,...,2.0,4.0,4.0,3.0,4.0,4.0,4.0,1.236825,0.0,1.0

In [55]:
data_before_MICE_imp.columns=data_before_MICE_imp_cols

In [56]:
data_before_MICE_imp.isnull().sum()

Age                            0
Income                         0
Emp_stat_Before                0
Gender                         0
Marital_status                 0
Loc                            0
Notice_things_Before           0
All_angles_Before              0
Sincere_prod_Before            0
Lonely_Before                  0
Worry_health_Before            0
Charity_Before                 0
New_env_Before                 0
Meeting_ppl_Before             0
Hob_interests_Before           0
Surveys_Before                 0
Spent_onli_Before              0
WFH_office_Before              0
Enthu_Before                   0
Smoking_hab_Before             0
Drinking_hab_Before            0
Sleeping_hab_Before            0
Healthy_Lifestyle_Before       0
Medi_pref_Before               0
Pol_interest_Before            0
Internet_interest_Before       0
Economy_Manag_intrst_Before    0
Medicine_intrst_Before         0
Religion_intrst_Before         0
Save_all_money_Before          0
Brand_non-brand_Before         0
Food_pref_Before               0
Mode_of_transport_Before       0
Basic_medications_Before       0
Digital_content_Before         0
Active_Investor_Before         0
Edu_instit_fee_Before          0
Spend_on_gadgets_Before        0
spend_on_Luxury_Before         0
Track_Household_exp_Before     0
Domestic_help_Before           0
Spending_kind_Before           0
dtype: int64

In [55]:
data_before_MICE_imp['Age'].unique()

array([5.        , 0.        , 4.        , 1.        , 2.        ,
       3.        , 0.50372514, 0.42588445])

In [57]:
roundvals(data_before_MICE_imp)

In [58]:
data_before_MICE_imp.head()

,Age,Income,Emp_stat_Before,Gender,Marital_status,Loc,Notice_things_Before,All_angles_Before,Sincere_prod_Before,Lonely_Before,...,Mode_of_transport_Before,Basic_medications_Before,Digital_content_Before,Active_Investor_Before,Edu_instit_fee_Before,Spend_on_gadgets_Before,spend_on_Luxury_Before,Track_Household_exp_Before,Domestic_help_Before,Spending_kind_Before
0,5,2,0,0,1,1,5,4,3,4,...,1,2,2,3,4,3,2,1,2,2
1,5,5,1,0,1,1,1,1,1,1,...,1,2,4,1,1,1,2,0,5,2
2,0,3,2,0,0,1,1,5,5,1,...,1,2,2,5,4,3,3,0,2,1
3,4,1,3,0,1,1,3,3,4,1,...,2,4,4,3,3,4,4,0,1,1
4,0,0,1,1,0,1,3,4,4,1,...,2,4,4,3,4,4,4,1,0,1

In [59]:
data_before_MICE_imp_final = pd.concat([data_copy,data_before_MICE_imp],axis=1)

In [61]:
data_before_MICE_imp_final.to_csv('Dataset-Before-MICE.csv')

### DATA (PRESENT) - NULL VALUE IMPUTATION

In [62]:
data_present = pd.read_csv('Dataset-Present-Encoded.csv')
data_present.head()

,ID,Age,Income,Emp_stat_Present,Gender,Marital_status,Loc,Notice_things_Present,All_angles_Present,Sincere_prod_Present,...,Basic_medications_Present,Digital_content_Present,Active_Investor_Present,Edu_instit_fee_Present,Change_in_data_consumption,Spend_on_gadgets_Present,Spend_on_Luxury_Present,Track_Household_exp_Present,Domestic_help_Present,Spending_kind_Present
0,1,5.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,5.0,...,4.0,4.0,2.0,3.0,1.0,4.0,2.0,2.0,1.0,1.0
1,2,5.0,5.0,1.0,0.0,1.0,1.0,5.0,5.0,5.0,...,2.0,4.0,1.0,1.0,2.0,1.0,2.0,0.0,3.0,2.0
2,3,0.0,3.0,NaN,0.0,0.0,1.0,1.0,5.0,5.0,...,2.0,2.0,5.0,4.0,2.0,3.0,3.0,0.0,2.0,1.0
3,4,4.0,1.0,3.0,0.0,1.0,1.0,5.0,5.0,4.0,...,4.0,4.0,3.0,3.0,1.0,3.0,3.0,2.0,0.0,0.0
4,5,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,...,4.0,4.0,3.0,4.0,2.0,4.0,4.0,NaN,0.0,1.0

In [63]:
data_present.isnull().sum()

ID                               0
Age                              2
Income                          19
Emp_stat_Present                52
Gender                           3
Marital_status                   6
Loc                              7
Notice_things_Present           10
All_angles_Present              14
Sincere_prod_Present             6
Lonely_Present                   7
Worry_health_Present             9
Charity_Present                 11
New_env_Present                  7
Meeting_ppl_Present             11
Hob_interests_Present            7
Surveys_Present                 11
Spent_onli_Present               4
WFH_office_Present              10
Ethu_Present                     8
Income_Change                   31
Smoking_hab_Present              8
Drinking_hab_Present             5
Sleeping_hab_Present             9
Healthy_Lifestyle_Present        9
Medi_pref_Present               83
Pol_interest_Present             9
Internet_interest_Present        8
Economy_Manag_intrst_Present    13
Medicine_intrst_Present         13
Religion_intrst_Present         12
Save_all_money_Present          15
Brand_non-brand_Present         13
Food_pref_Present               26
Mode_of_transport_Present       27
Basic_medications_Present       14
Digital_content_Present         12
Active_Investor_Present         13
Edu_instit_fee_Present          14
Change_in_data_consumption      16
Spend_on_gadgets_Present        16
Spend_on_Luxury_Present         16
Track_Household_exp_Present     19
Domestic_help_Present            9
Spending_kind_Present           17
dtype: int64

In [64]:
data_present.drop('ID',axis=1,inplace=True)

### Hot Deck Imputation - Similarity is measured by considering Nearest Neighbours

In [65]:
# fancy impute is going to remove the column names , so storing the column names first
data_present_cols = data_present.columns
data_present_cols

Index(['Age', 'Income', 'Emp_stat_Present', 'Gender', 'Marital_status', 'Loc',
       'Notice_things_Present', 'All_angles_Present', 'Sincere_prod_Present',
       'Lonely_Present', 'Worry_health_Present', 'Charity_Present',
       'New_env_Present', 'Meeting_ppl_Present', 'Hob_interests_Present',
       'Surveys_Present', 'Spent_onli_Present', 'WFH_office_Present',
       'Ethu_Present', 'Income_Change', 'Smoking_hab_Present',
       'Drinking_hab_Present', 'Sleeping_hab_Present',
       'Healthy_Lifestyle_Present', 'Medi_pref_Present',
       'Pol_interest_Present', 'Internet_interest_Present',
       'Economy_Manag_intrst_Present', 'Medicine_intrst_Present',
       'Religion_intrst_Present', 'Save_all_money_Present',
       'Brand_non-brand_Present', 'Food_pref_Present',
       'Mode_of_transport_Present', 'Basic_medications_Present',
       'Digital_content_Present', 'Active_Investor_Present',
       'Edu_instit_fee_Present', 'Change_in_data_consumption',
       'Spend_on_gadgets_Present', 'Spend_on_Luxury_Present',
       'Track_Household_exp_Present', 'Domestic_help_Present',
       'Spending_kind_Present'],
      dtype='object')

In [66]:
# use 5 nearest rows which have a feature to fill in each row's missing features
data_present = pd.DataFrame(KNN(k=5).fit_transform(data_present))
# this will help us to replace the values

Imputing row 1/551 with 0 missing, elapsed time: 0.132
Imputing row 101/551 with 0 missing, elapsed time: 0.136
Imputing row 201/551 with 2 missing, elapsed time: 0.139
Imputing row 301/551 with 3 missing, elapsed time: 0.142
Imputing row 401/551 with 0 missing, elapsed time: 0.145
Imputing row 501/551 with 0 missing, elapsed time: 0.148

In [67]:
# here we are adding the columns back
data_present.columns = data_present_cols

In [68]:
# check for null values
data_present.isnull().sum()

Age                             0
Income                          0
Emp_stat_Present                0
Gender                          0
Marital_status                  0
Loc                             0
Notice_things_Present           0
All_angles_Present              0
Sincere_prod_Present            0
Lonely_Present                  0
Worry_health_Present            0
Charity_Present                 0
New_env_Present                 0
Meeting_ppl_Present             0
Hob_interests_Present           0
Surveys_Present                 0
Spent_onli_Present              0
WFH_office_Present              0
Ethu_Present                    0
Income_Change                   0
Smoking_hab_Present             0
Drinking_hab_Present            0
Sleeping_hab_Present            0
Healthy_Lifestyle_Present       0
Medi_pref_Present               0
Pol_interest_Present            0
Internet_interest_Present       0
Economy_Manag_intrst_Present    0
Medicine_intrst_Present         0
Religion_intrst_Present         0
Save_all_money_Present          0
Brand_non-brand_Present         0
Food_pref_Present               0
Mode_of_transport_Present       0
Basic_medications_Present       0
Digital_content_Present         0
Active_Investor_Present         0
Edu_instit_fee_Present          0
Change_in_data_consumption      0
Spend_on_gadgets_Present        0
Spend_on_Luxury_Present         0
Track_Household_exp_Present     0
Domestic_help_Present           0
Spending_kind_Present           0
dtype: int64

In [69]:
roundvals(data_present)

In [70]:
data_present_final = pd.concat([data_copy,data_present],axis=1)

In [72]:
data_present_final.head()

,ID,Age,Income,Emp_stat_Present,Gender,Marital_status,Loc,Notice_things_Present,All_angles_Present,Sincere_prod_Present,...,Basic_medications_Present,Digital_content_Present,Active_Investor_Present,Edu_instit_fee_Present,Change_in_data_consumption,Spend_on_gadgets_Present,Spend_on_Luxury_Present,Track_Household_exp_Present,Domestic_help_Present,Spending_kind_Present
0,1,5,2,0,0,1,1,5,5,5,...,4,4,2,3,1,4,2,2,1,1
1,2,5,5,1,0,1,1,5,5,5,...,2,4,1,1,2,1,2,0,3,2
2,3,0,3,2,0,0,1,1,5,5,...,2,2,5,4,2,3,3,0,2,1
3,4,4,1,3,0,1,1,5,5,4,...,4,4,3,3,1,3,3,2,0,0
4,5,0,0,1,1,0,1,3,4,4,...,4,4,3,4,2,4,4,1,0,1

In [73]:
data_present_final.to_csv('Dataset-Present-HotDeck.csv')

### Data (Present) - Imputation using MICE

In [75]:
data_present_MICE_imp= pd.read_csv('Dataset-Present-Encoded.csv')
data_present_MICE_imp.head()

,ID,Age,Income,Emp_stat_Present,Gender,Marital_status,Loc,Notice_things_Present,All_angles_Present,Sincere_prod_Present,...,Basic_medications_Present,Digital_content_Present,Active_Investor_Present,Edu_instit_fee_Present,Change_in_data_consumption,Spend_on_gadgets_Present,Spend_on_Luxury_Present,Track_Household_exp_Present,Domestic_help_Present,Spending_kind_Present
0,1,5.0,2.0,0.0,0.0,1.0,1.0,5.0,5.0,5.0,...,4.0,4.0,2.0,3.0,1.0,4.0,2.0,2.0,1.0,1.0
1,2,5.0,5.0,1.0,0.0,1.0,1.0,5.0,5.0,5.0,...,2.0,4.0,1.0,1.0,2.0,1.0,2.0,0.0,3.0,2.0
2,3,0.0,3.0,NaN,0.0,0.0,1.0,1.0,5.0,5.0,...,2.0,2.0,5.0,4.0,2.0,3.0,3.0,0.0,2.0,1.0
3,4,4.0,1.0,3.0,0.0,1.0,1.0,5.0,5.0,4.0,...,4.0,4.0,3.0,3.0,1.0,3.0,3.0,2.0,0.0,0.0
4,5,0.0,0.0,1.0,1.0,0.0,1.0,3.0,4.0,4.0,...,4.0,4.0,3.0,4.0,2.0,4.0,4.0,NaN,0.0,1.0

In [76]:
data_present_MICE_imp.drop('ID',axis=1,inplace=True)

In [77]:
# fancy impute is going to remove the column names , so storing the column names first
data_present_MICE_imp_cols = data_present_MICE_imp.columns
data_present_MICE_imp_cols

Index(['Age', 'Income', 'Emp_stat_Present', 'Gender', 'Marital_status', 'Loc',
       'Notice_things_Present', 'All_angles_Present', 'Sincere_prod_Present',
       'Lonely_Present', 'Worry_health_Present', 'Charity_Present',
       'New_env_Present', 'Meeting_ppl_Present', 'Hob_interests_Present',
       'Surveys_Present', 'Spent_onli_Present', 'WFH_office_Present',
       'Ethu_Present', 'Income_Change', 'Smoking_hab_Present',
       'Drinking_hab_Present', 'Sleeping_hab_Present',
       'Healthy_Lifestyle_Present', 'Medi_pref_Present',
       'Pol_interest_Present', 'Internet_interest_Present',
       'Economy_Manag_intrst_Present', 'Medicine_intrst_Present',
       'Religion_intrst_Present', 'Save_all_money_Present',
       'Brand_non-brand_Present', 'Food_pref_Present',
       'Mode_of_transport_Present', 'Basic_medications_Present',
       'Digital_content_Present', 'Active_Investor_Present',
       'Edu_instit_fee_Present', 'Change_in_data_consumption',
       'Spend_on_gadgets_Present', 'Spend_on_Luxury_Present',
       'Track_Household_exp_Present', 'Domestic_help_Present',
       'Spending_kind_Present'],
      dtype='object')

In [78]:
## use MICE to fill in each row's missing feature
data_present_MICE_imp = pd.DataFrame(MICE(verbose=True).fit_transform(data_present_MICE_imp))

[IterativeImputer] Completing matrix with shape (551, 44)
[IterativeImputer] Change: 8.036712016376052, scaled tolerance: 0.005
[IterativeImputer] Change: 3.1822318363419257, scaled tolerance: 0.005
[IterativeImputer] Change: 1.2761374245198147, scaled tolerance: 0.005
[IterativeImputer] Change: 0.5538653400969142, scaled tolerance: 0.005
[IterativeImputer] Change: 0.24640906883087454, scaled tolerance: 0.005
[IterativeImputer] Change: 0.11151785506627598, scaled tolerance: 0.005
[IterativeImputer] Change: 0.05073482230044468, scaled tolerance: 0.005
[IterativeImputer] Change: 0.022854272051324065, scaled tolerance: 0.005
[IterativeImputer] Change: 0.01023466583421706, scaled tolerance: 0.005
[IterativeImputer] Change: 0.004562520102368517, scaled tolerance: 0.005
[IterativeImputer] Early stopping criterion reached.

In [79]:
data_present_MICE_imp.head()

,0,1,2,3,4,5,6,7,8,9,...,34,35,36,37,38,39,40,41,42,43
0,5.0,2.0,0.000000,0.0,1.0,1.0,5.0,5.0,5.0,1.0,...,4.0,4.0,2.0,3.0,1.0,4.0,2.0,2.000000,1.0,1.0
1,5.0,5.0,1.000000,0.0,1.0,1.0,5.0,5.0,5.0,5.0,...,2.0,4.0,1.0,1.0,2.0,1.0,2.0,0.000000,3.0,2.0
2,0.0,3.0,2.158048,0.0,0.0,1.0,1.0,5.0,5.0,1.0,...,2.0,2.0,5.0,4.0,2.0,3.0,3.0,0.000000,2.0,1.0
3,4.0,1.0,3.000000,0.0,1.0,1.0,5.0,5.0,4.0,1.0,...,4.0,4.0,3.0,3.0,1.0,3.0,3.0,2.000000,0.0,0.0
4,0.0,0.0,1.000000,1.0,0.0,1.0,3.0,4.0,4.0,1.0,...,4.0,4.0,3.0,4.0,2.0,4.0,4.0,1.620958,0.0,1.0

In [80]:
data_present_MICE_imp.columns=data_present_MICE_imp_cols

In [81]:

data_present_MICE_imp.isnull().sum()

Age                             0
Income                          0
Emp_stat_Present                0
Gender                          0
Marital_status                  0
Loc                             0
Notice_things_Present           0
All_angles_Present              0
Sincere_prod_Present            0
Lonely_Present                  0
Worry_health_Present            0
Charity_Present                 0
New_env_Present                 0
Meeting_ppl_Present             0
Hob_interests_Present           0
Surveys_Present                 0
Spent_onli_Present              0
WFH_office_Present              0
Ethu_Present                    0
Income_Change                   0
Smoking_hab_Present             0
Drinking_hab_Present            0
Sleeping_hab_Present            0
Healthy_Lifestyle_Present       0
Medi_pref_Present               0
Pol_interest_Present            0
Internet_interest_Present       0
Economy_Manag_intrst_Present    0
Medicine_intrst_Present         0
Religion_intrst_Present         0
Save_all_money_Present          0
Brand_non-brand_Present         0
Food_pref_Present               0
Mode_of_transport_Present       0
Basic_medications_Present       0
Digital_content_Present         0
Active_Investor_Present         0
Edu_instit_fee_Present          0
Change_in_data_consumption      0
Spend_on_gadgets_Present        0
Spend_on_Luxury_Present         0
Track_Household_exp_Present     0
Domestic_help_Present           0
Spending_kind_Present           0
dtype: int64

In [82]:
roundvals(data_present_MICE_imp)

In [83]:
data_present_MICE_imp_final = pd.concat([data_copy,data_present_MICE_imp],axis=1)

In [85]:
data_present_MICE_imp_final.head()

,ID,Age,Income,Emp_stat_Present,Gender,Marital_status,Loc,Notice_things_Present,All_angles_Present,Sincere_prod_Present,...,Basic_medications_Present,Digital_content_Present,Active_Investor_Present,Edu_instit_fee_Present,Change_in_data_consumption,Spend_on_gadgets_Present,Spend_on_Luxury_Present,Track_Household_exp_Present,Domestic_help_Present,Spending_kind_Present
0,1,5,2,0,0,1,1,5,5,5,...,4,4,2,3,1,4,2,2,1,1
1,2,5,5,1,0,1,1,5,5,5,...,2,4,1,1,2,1,2,0,3,2
2,3,0,3,2,0,0,1,1,5,5,...,2,2,5,4,2,3,3,0,2,1
3,4,4,1,3,0,1,1,5,5,4,...,4,4,3,3,1,3,3,2,0,0
4,5,0,0,1,1,0,1,3,4,4,...,4,4,3,4,2,4,4,2,0,1

In [86]:
data_present_MICE_imp_final.to_csv('Dataset-Present-MICE.csv')